<?xml version="1.0"?>
<sdf xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="inertial_sphere" params="mass radius">
    <xacro:property
      name="inertia"
      value="${(2 * mass * radius * radius) / 5.0}"/>
    <inertial>
      <mass>${mass}</mass>
      <inertia>
        <ixx>${inertia}</ixx>
        <ixy>0.0</ixy>
        <ixz>0.0</ixz>
        <iyy>${inertia}</iyy>
        <iyz>0.0</iyz>
        <izz>${inertia}</izz>
      </inertia>
    </inertial>
  </xacro:macro>
</sdf>
