<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:macro name="inertial_cylinder" params="mass radius length">
        <xacro:property
          name="xy"
          value="${mass * (3 * radius * radius + length * length) / 12.0}"/>
        <xacro:property
          name="z"
          value="${mass * radius * radius * 0.5}"/>

        <inertial>
            <mass value="${mass}" />
            <inertia
              ixx="${xy}"
              ixy="0.0"
              ixz="0.0"
              iyy="${xy}"
              iyz="0.0"
              izz="${z}" />
        </inertial>
    </xacro:macro>

</robot>
